<div t-nav=""></div>
<div class="row padd-x">
    <div class="y-r-t div-cf col-sm-6 col-xs-12">
        <h3>
            注册成为痒痒的小伙伴！
            <!--可以享受的福利，定时推送更新漫画到您的邮箱，给作者留言左右剧情。-->
            <!--你嫌麻烦也不用注册照样可以看痒痒的漫画哦！ 如果您是VIP会员那么您可以享受更多的特权， 青铜会员可以给作者投票提高作品排名， 白银可以把别人的作品更新到痒痒漫画上面赚取广告费用， 黄金会员可以在痒痒上面创作赚取广告费用。-->
        </h3>
    </div>
    <div class="col-xs-12 col-sm-6 div-cf div-form">
        <form class="form-horizontal page-form" role="form">
            <div class="form-group">
                <label class="col-sm-4">电子邮箱:</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control " id="InputEmail1" placeholder="输入常用的邮箱地址">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">输入密码:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control " id="InputPassword" placeholder="设置登录密码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">确认密码:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control " id="InputPasswords" placeholder="确认登录密码">
                </div>
            </div>
        </form>
    </div>
    <div class="y-r-f div-cf col-sm-6 col-xs-12">
        <a href="javascript:" class="">注册会员</a>
    </div>
</div>