<div class="y-l-b">
    <div t-nav=""></div>
    <div class="y-logo-div">
        <span class="y-logo y-logo-lg">YY</span>
    </div>
    <div class="y-l-h">
        <h3>痒痒的免费漫画网站</h3>
    </div>
    <div class="y-l-b">
        <a href="#" class="btn">直接欣赏</a>
    </div>
</div>
<div class="row y-h-c">
    <h3>别人家的漫画网站</h3>
    <h5>别人家的漫画网站也很好看，如果他们收费就在痒痒中搜索看看有惊喜哦。</h5>
</div>
<div class="row y-l-o">
    <div class="col-md-4 col-xs-12 link">
        <h1>
            <a title="动漫-腾讯动漫官方网站" href="http://ac.qq.com/">
                <img src="http://ac.gtimg.com/media/images/ac_logo.png" alt="腾讯动漫官方网站">
            </a>
        </h1>
        <h5>一个非常有意思的网站，他的原创漫画他要收费，盗版的别人漫画他也收费。不过他的原创漫画还是有很多不错的。</h5>
    </div>
    <div class="col-md-4 col-xs-12 link">
        <h1>
            <a title="动漫-有妖气" href="http://www.u17.com/">
                <img src="http://static.u17i.com/v4/common/images/logo/logo.png" alt="有妖气官网">
            </a>
        </h1>
        <h5>在国内是一个非常负责的漫画网站，虽然收费但是过一段时间总会免费开放。而且原创也很多，可以说养活了不少的创作者。</h5>
    </div>
    <div class="col-md-4 col-xs-12 link">
        <h1>
            <a title="极速漫画" href="http://www.1kkk.com/">
                <img src="http://js140.tel.cdndm.com/blue/img/logo.png" alt="极速漫画官网">
            </a>
        </h1>
        <h5>百度排行第一，基本免费，但是他的版面和画风实在不太喜欢，logo都是网站的域名。</h5>

    </div>
</div>