<div class="y-l-b">
    <div class="y-l-t">
        <div class="logo">
            <span class="y-logo y-logo-sm">痒</span>
        </div>
        <ul>
            <li><a href="#">痒痒漫画</a></li>
            <li><a href="#">成为会员</a></li>
            <li><a href="#">会员登录</a></li>
        </ul>
    </div>
    <div class="y-logo-div">
        <span class="y-logo y-logo-lg">YY</span>
    </div>
    <div class="y-l-h">
        <h3>痒痒的免费漫画网站</h3>
    </div>
    <div class="y-l-b">
        <a href="#" class="btn ">直接欣赏</a>
    </div>
</div>